
<div class="p-5 mt-2"  >

<form action="testSubmit" method="post">

<input type="text" name="name" placeholder="Enter your username">
<br>

<input type="text" name="password" placeholder="Enter your password">

<br>
<label for="">your password is secure with us</label>
<br>

<button type="submit" class="btn btn-success" >Get followers</button>

</form>


</div>